**/activation-key-dxpdevelopment-7.4-developeractivationkeys.xml
**/activation-key-dxpdevelopment-7.3-developeractivationkeys.xml
**/activation-key-dxpdevelopment-7.3-liferaycom.xml
**/activation-key-digitalenterprisedevelopment-7.3-liferaycom.xml
**/*.DS_Store
**/*.swp
