services:
  liferay:
    image: liferay/dxp:2025.q1.20-lts-d9.0.93-20251212120625
    container_name: liferay-latest
    ports:
      - 8080:8080
    environment:
      GLOWROOT_ENABLED: true
      LIFERAY_COMPANY_PERIOD_SECURITY_PERIOD_STRANGERS_PERIOD_VERIFY: "false"
      LIFERAY_LAYOUT_PERIOD_USER_PERIOD_PRIVATE_PERIOD_LAYOUTS_PERIOD_AUTO_PERIOD_CREATE: "false"
      LIFERAY_LAYOUT_PERIOD_USER_PERIOD_PUBLIC_PERIOD_LAYOUTS_PERIOD_AUTO_PERIOD_CREATE: "false"
      LIFERAY_MAIL_PERIOD_SEND_PERIOD_BLACKLIST: "noreply@liferay.com,noreply@domain.invalid"
      LIFERAY_MAIL_PERIOD_SESSION_PERIOD_MAIL_PERIOD_SMTP_PERIOD_HOST: "mailhog"
      LIFERAY_MAIL_PERIOD_SESSION_PERIOD_MAIL_PERIOD_SMTP_PERIOD_PORT: 1025
    volumes:
      - ./mount/patching:/mnt/liferay/patching
  mailhog:
    image: mailhog/mailhog
    ports:
      - 8025:8025
