global
  daemon
  maxconn 256
  log stdout format raw daemon

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 0.0.0.0:9999
  stats enable
  stats hide-version
  stats uri /
  stats auth test@liferay.com:test

frontend liferay
  log global
  option httplog
  bind 0.0.0.0:80
  use_backend liferay_single_instance

backend liferay_single_instance
  server liferay liferay:8080
