services:
  liferay:
    image: liferay/dxp:2025.q1.16-lts-d9.0.92-20251203070932
    container_name: liferay-keycloak
    ports:
      - 8000:8000
      - 8080:8080
    environment:
      # Enable remote debugging
      LIFERAY_JPDA_ENABLED: true
      # Allow mails to test@liferay.com
      LIFERAY_MAIL_PERIOD_SEND_PERIOD_BLACKLIST: "noreply@liferay.com,noreply@domain.invalid"
      LIFERAY_MAIL_PERIOD_SESSION_PERIOD_MAIL_PERIOD_SMTP_PERIOD_HOST: "mailhog"
      LIFERAY_MAIL_PERIOD_SESSION_PERIOD_MAIL_PERIOD_SMTP_PERIOD_PORT: 1025
    volumes:
      - ./mount/patching:/mnt/liferay/patching
  keycloak:
    image: keycloak/keycloak:26.0.7-0
    container_name: keycloak
    command: ["start-dev", "--import-realm", "--http-port=8180"]
    volumes:
      - ./keycloak/realm-import.json:/opt/keycloak/data/import/realm-import.json
    environment:
      KC_BOOTSTRAP_ADMIN_USER: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8180:8180"
  mailhog:
    image: mailhog/mailhog
    ports:
      - 8025:8025
