global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 0.0.0.0:9999
  stats enable
  stats hide-version
  stats uri /
  stats auth test@liferay.com:test

frontend liferay
  bind 0.0.0.0:80
  use_backend liferay_cluster

backend liferay_cluster
  balance roundrobin
  cookie JSESSIONID prefix
  server liferay-1 liferay-1:8080 cookie liferay_1 check
  server liferay-2 liferay-2:8080 cookie liferay_2 check
